<form name="cardEdit" ng-submit="changeCard()" novalidate>
    <div>
        <view-edit>
            <h2>{{karte.title}}</h2>
            <p>
                <label for="title">Titel</label>
                <input id="title" name="title" type="text"
                 ng-minlength="5"
                 ng-model="karte.title" required>
            </p>
        </view-edit>

        <view-edit>
            <p>{{karte.text}}</p>
            <p>
                <label for="text">Beschreibung</label>
                <input id="text" name="text" type="text" ng-model="karte.text" required>
            </p>
        </view-edit>

        <md-button type="submit" ng-disabled="cardEdit.$invalid">Ändern</md-button>
    </div>
</form>
